#skillsSection 
  text-align: center
  background-color: var(--colorOne)
  padding-top: 3.125rem
  color: var(--letterColorOne)
  padding-bottom: 3.125rem
  border-bottom: 1px solid var(--colorThree)

  ul
    list-style: none

#skillsSectionText 
  padding: 1.25rem 0px
  font-size: 1.25rem