#aboutSection 
  background-color: var(--colorTwo)
  color: var(--letterColorOne)
  text-align: center
  padding-top: 50px
  border-bottom: 1px solid var(--colorThree)

#aboutDiv 
  display: flex
  flex-wrap: wrap
  align-items: center
  column-gap: 3rem
  row-gap: 5rem
  justify-content: space-around
  padding: 30px
  padding-bottom: 50px

#aboutImgDiv 
  width: 40%

  #aboutImg 
    height: auto
    max-width: 400px
    border: 10px solid var(--colorTwo)
    box-shadow: 30px 30px 0px 0px var(--colorFour)

    @media screen and (max-width:510px) 
      width: 90%


  @media screen and (max-width:1016px) 
    width: 90%  

#aboutTextDiv
  width: 50%
  text-indent: 1rem

  p, li
    padding-top: 20px
    line-height: 20px
    text-align: justify

  ul
    column-count: 2
    column-gap: 2.5rem

    @media screen and (max-width:600px) 
      column-count: 1

  @media screen and (max-width:1016px) 
    width: 90%  
  


