@tailwind base
@tailwind components
@tailwind utilities

:root 
  --backGroundOne: #030712
  --backGroundTwo: #111827
  --backGroundThree: #fff
  --backGroundFour: #374151
  --backGroundFive: #0e1423
  --letterColorOne: #fff
  --letterColorTwo: #172439
  --letterColorThree: #030712
  --linkTextShadow: rgba(255, 255, 255, 0.8)
  --downloadBackGround: #ffffffc9
  --socialLinksBackGround: #ffffff44

@keyframes blink 
  0% 
    opacity: 1
  
  50% 
    opacity: 0
  
  100% 
    opacity: 1


#mainHeader 
  position: fixed
  width: 100%
  background-color: var(--backGroundOne)
  transition: border 0.3s ease
  z-index: 1
  max-height: 6rem


#mainHeader.scroll 
  border-bottom: 1px solid var(--letterColorOne)


#mainNav 
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  padding: 2rem 2.5rem 1.5rem


#mainNavHomeIcon 
  font-size: 2rem


#navLinksDiv 
  display: flex
  gap: 2.2rem


.icons 
  color: var(--letterColorOne)


.menuLinks 
  text-decoration: none
  color: var(--letterColorOne)
  transition: text-shadow 0.3s ease


.menuLinks:hover 
  text-shadow: 0 0 10px var(--linkTextShadow)


.checkbox 
  position: absolute


.label 
  background-color: var(--letterColorThree)
  display: flex
  align-items: center
  justify-content: space-between
  cursor: pointer
  padding: 0.2rem
  position: relative
  border-radius: 3.13rem
  height: 1.35rem
  width: 3.13rem
  border: 1px solid var(--letterColorOne)
  transform: scale(1.5)


.ball 
  position: absolute
  background-color: var(--letterColorOne)
  border-radius: 50%
  top: 0.094rem
  left: 0.094rem
  height: 1.063rem
  width: 1.063rem
  transform: translateX(1px)
  transition: transform 0.1s linear


.checkbox:checked + .label .ball 
  transform: translate(1.719rem)


.bi-moon,
.bi-sun 
  color: var(--letterColorOne)
  font-size: 0.9rem


#downloadButton 
  cursor: pointer
  background-color: var(--backGroundThree)
  border-radius: 0.625rem
  color: var(--letterColorTwo)
  padding: 0.4rem 1rem
  font-weight: bold
  border: none
  margin-top: -1rem
  transition: 0.3s


#downloadButton:hover 
  background-color: var(--downloadBackGround)


#mobileMenuButton 
  display: block


#menuButton 
  background-color: transparent
  border: none
  font-size: 1.25rem
  cursor: pointer


#mobileMenu 
  display: flex
  flex-direction: column
  background-color: var(--backGroundOne)
  gap: 1.4rem
  align-items: center
  border-bottom: 1px solid var(--letterColorOne)
  border-left: 1px solid var(--letterColorOne)
  border-right: 1px solid var(--letterColorOne)
  width: 12.5rem
  float: right
  margin-top: -0.56rem
  padding: 1rem


.closed 
  display: none !important



#welcomeSection 
  height: 38rem
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-evenly
  background-color: var(--backGroundOne)
  color: var(--letterColorOne)
  border-bottom: 1px solid var(--backGroundThree)
  padding-top: 9.375rem


#welcomeText 
  width: 55%


#welcomeTextTitle 
  font-size: 2.5rem
  padding-bottom: .313rem


#welcomeTextParagraph 
  line-height: 1.25rem


#profileImg 
  width: 17.5rem
  border: 10px solid var(--backGroundOne)
  box-shadow: 20px 20px 0px 0px var(--backGroundFour)
  margin-bottom: 2.5rem


#welcomeTextLocationText 
  display: flex
  gap: .625rem
  align-items: center
  padding-top: 1.875rem
  
  p 
    margin-top: 1.013rem


#welcomeTextOnlineText 
  display: flex
  gap: .625rem
  align-items: center
  margin-top: -1rem

  p 
    margin-top: 1.013rem

  div
    background-color: rgb(6, 163, 6)
    border-radius: 50%
    width: .938rem
    height: .938rem
    animation: blink 1s infinite


#welcomeTextLinks 
  padding-top: 1.875rem

  i
    font-size: 2rem
    padding: .3rem .5rem
    margin-right: 1.5rem

    &:hover 
      background-color: var(--socialLinksBackGround)
      border-radius: .313rem


.SectionsTitles 
  background-color: var(--backGroundFour)
  width: fit-content
  margin: auto
  padding: 10px 20px
  border-radius: 1.875rem


#aboutSection 
  background-color: var(--backGroundTwo)
  color: var(--letterColorOne)
  text-align: center
  padding-top: 50px
  border-bottom: 1px solid var(--backGroundThree)


#aboutDiv 
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  padding: 30px
  padding-bottom: 50px


#aboutImgDiv 
  width: 40%

  img 
    height: 400px
    width: 400px
    border: 10px solid var(--backGroundTwo)
    box-shadow: 30px 30px 0px 0px var(--backGroundFour)


#aboutTextDiv
  width: 60%

  p, li
    margin-left: 80px
    padding-top: 20px
    line-height: 20px
    text-align: justify

  ul
    column-count: 2
    column-gap: 2.5rem
    padding-left: 15px


#skillsSection 
  text-align: center
  background-color: var(--backGroundOne)
  padding-top: 3.125rem
  color: var(--letterColorOne)
  padding-bottom: 3.125rem
  border-bottom: 1px solid var(--backGroundThree)

  ul
    list-style: none


#skillsSectionText 
  padding: 1.25rem 0px
  font-size: 1.25rem


#sckillsTable 
  grid-template-columns: repeat(5, 1fr)
  grid-gap: 0.825rem
  max-width: 100%


.tableItems 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  img 
    object-fit: contain
    margin: auto
    width: 4.625rem
    height: 5.25rem
    transition: 0.5s
    cursor: pointer

    &:hover 
      scale: 1.1

    &:not(:hover) 
      opacity: 50%

  a 
    text-decoration: none
    color: var(--letterColorOne)

  p 
    font-size: 1.25rem
    font-weight: bold

#projectsSection 
  background-color: var(--backGroundTwo)
  padding-top: 3.125rem
  text-align: center
  color: var(--letterColorOne)
  padding-bottom: 3.125rem
  border-bottom: 1px solid var(--backGroundThree)


#projectsSectionText 
  padding: 1.25rem 0
  font-size: 1.25rem


#projectsList 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center


.projects 
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  background-color: var(--backGroundOne)
  width: 90%
  margin: 1.25rem
  border-radius: 1.25rem
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.199)


.imgPart 
  width: 50%
  background-color: var(--backGroundFive)
  padding: 2.5rem
  border-radius: 1.25rem 0 0 1.25rem


.projectImg 
  width: 90%
  height: 18.75rem
  border-radius: 1.25rem
  transition: 0.5s
  cursor: pointer


.projectImg:hover 
  scale: 1.05


.projectImg:not(:hover) 
  opacity: 50%


.textPart 
  text-align: left
  width: 50%


.textPart h2 
  padding: 0px 1.875rem


.textPart p 
  padding: 1.25rem 1.875rem
  line-height: 1.563rem
  font-size: 1.063rem


.textPart span 
  background-color: var(--backGroundFive)
  padding: 0.625rem
  margin-right: 1.25rem
  border-radius: 1.25rem


.linkContainer 
  margin-top: 1.875rem
  padding: 0 2.125rem


.bi-box-arrow-up-right
  display: block
  text-align: center
  transition: 0.3s

  &:hover 
    transform: scale(1.2)


.bi-plus-circle 
  display: block
  margin-top: 1.25rem
  font-size: 1.875rem
  border-radius: 100%
  transition: 0.5s

  &:hover 
    scale: 1.2

#contactSection 
  background-color: var(--backGroundOne)
  padding-top: 50px
  padding-bottom: 50px
  color: var(--letterColorOne)
  text-align: center
  border-bottom: 1px solid var(--backGroundThree)


.contactSmallText 
  padding: 40px 0px
  font-size: 20px


#contactDiv 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-top: 50px
  row-gap: 30px


.fa-phone,
.fa-envelope 
  width: 40px
  margin-bottom: -10px
  margin-right: 20px


.contactText 
  line-height: 20px
  font-size: 40px
  margin-bottom: 20px


.fa-copy 
  font-size: 40px


.copyButton 
  background-color: transparent
  border: none
  margin-left: 20px
  cursor: pointer
  padding: 5px
  border-radius: 10px
  transition: 0.3s


.copyButton:hover 
  background-color: var(--socialLinksBackGround)



#footer 
  background-color: var(--backGroundTwo)
  color: var(--letterColorOne)
  text-align: center
  padding: 20px


#footer02 
  background-color: var(--backGroundOne)
  color: var(--letterColorOne)
  text-align: center
  padding: 20px


::-webkit-scrollbar 
  background-color: var(--backGroundOne)
  width: 10px


::-webkit-scrollbar-thumb 
  background-color: var(--letterColorOne)


::selection 
  color: var(--letterColorTwo)
  background-color: var(--backGroundThree)


@media screen and (min-width: 1500px) 
  .projects 
    width: 60%
  

@media screen and (max-width: 1195px) 
  .projects 
    flex-direction: column
  
  .imgPart 
    width: 100%
    border-radius: 20px 20px 0px 0px
  
  .textPart 
    text-align: center
    padding: 20px
    width: 100%
  
  .projectImg 
    width: 60%
  

@media screen and (max-width: 950px) 
  #presentationSection 
    padding-top: 150px
    flex-direction: column
    text-align: center
  
  #aboutPart 
    flex-direction: column-reverse
  
  #aboutTextPart 
    width: 90%
    margin: auto
  
  .aboutP 
    margin-left: 0px
    text-align: center
    padding-bottom: 20px
  
  #aboutImgPart 
    width: 100%
  
  .projectImg 
    width: 80%
  

@media screen and (max-width: 880px) 
  #nav .linksPart 
    display: none
  
  #mobileMenuButton 
    display: block
  
  #mobileMenu .linksPart 
    align-self: flex-end
    background-color: var(--backGroundOne)
    margin-top: -3px
    width: 200px
    padding: 20px
    border-radius: 10px 0px 10px 10px
    align-self: flex-end
    flex-direction: column
    align-items: center
    justify-content: center
  

@media screen and (max-width: 650px) 
  .contactText 
    font-size: 30px
  

@media screen and (max-width: 550px) 
  #aboutImg 
    width: 80%
    height: auto
  
  #sckillsTable 
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 10px
  

@media screen and (max-width: 500px) 
  .spanPart 
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 10px
    text-align: center
  
  .contactText 
    font-size: 20px
  

@media screen and (max-width: 400px) 
  #profileImg 
    width: 80%
  
  #sckillsTable 
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 10px
  
  .projectImg 
    height: 150px
  
  .contactText 
    font-size: 12px
  
  #header02 
    height: fit-content
  
  #nav02 .linksPart 
    align-items: center
    justify-content: center
    flex-wrap: wrap
  
  #projectsSection02 
    padding-top: 150px
  

