@import "../Sass/Variables.sass"
@import "../Sass/Header.sass"
@import "../Sass/SectionWelcome.sass"
@import "../Sass/SectionAbout.sass"
@import "../Sass/SectionSkills.sass"
@import "../Sass/SectionProjects.sass"
@import "../Sass/SectionContact.sass"
@import "../Sass/Footer.sass"

.icons 
  color: var(--letterColorOne)

.SectionsTitles 
  background-color: var(--colorFour)
  width: fit-content
  margin: auto
  padding: 10px 20px
  border-radius: 1.875rem
  font-size: 1.3rem


::-webkit-scrollbar 
  background-color: var(--colorOne)
  width: 10px


::-webkit-scrollbar-thumb 
  background-color: var(--letterColorOne)


::selection 
  color: var(--letterColorTwo)
  background-color: var(--colorThree)
  

